{% extends 'base.html' %}
{% load static %}

{% block content %}
<p><br><br><br></p>
<form method="get" action="{% url 'search_view' %}">
    <input type="text" name="q" value="{{ query }}" placeholder="Search...">
    <button type="submit">Search</button>
</form>

{% if results %}
    <h2>Search Results for "{{ query }}":</h2>
    <ul>
        {% for result in results.organic %}
            <li><a href="{{ result.link }}">{{ result.title }}</a></li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}