{% extends 'base.html' %}

{% block content %}
  <!-- Your content specific to services page goes here -->

  <section id="services" class="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-alarm"></i></div>
            <h4 class="title"><a href="#">Service 1</a></h4>
            <p class="description">Description of service 1.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="#">Service 2</a></h4>
            <p class="description">Description of service 2.</p>
          </div>
        </div>

        <!-- Add more service sections as needed -->

      </div>
    </div>
  </section>

  <!-- You can add more sections or customize the existing content as needed -->

{% endblock %}
